* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #cfcfcf;
  cursor: pointer;
}

/* PC */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 20px 200px;
  justify-content: center;
  background-color: var(--gray5);
  z-index: 5;
}

.logoLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;
  max-width: 1520px;
}

.buttonDeco {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.headContent {
  display: flex;
  margin-top: 93px;
  margin-bottom: 70px;
  padding: 70px 360px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--gray5);
  overflow: hidden;
}

.headContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
  max-height: 833px;
}

.headContainer > h2 {
  color: #000;
  font-family: Pretendard;
  font-size: 64px;
  font-weight: 700;
  line-height: 125%;
}

.headContainer > h2 > span {
  color: transparent;
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
}

.link {
  width: 350px;
}

.image-box1 {
  padding: 50px 41px 0;
}

.image-box1 > img {
  width: 1118px;
  height: 659px;
  border-radius: 25px;
}

.content2 {
  padding: 50px 461px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  align-items: center;
  gap: 157px;
}

.ad-text {
  color: #6b6b6b;
  font-family: Abel;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 291px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ad-text h3 {
  color: #000;
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.adText-deco1 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.adText-deco2 {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.adText-deco3 {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.adText-deco4 {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ad-image {
  width: 550px;
  height: 450px;
  background-color: var(--gray5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ad-image img {
  width: 100%;
}

footer {
  margin-top: 120px;
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--black);
}

.under-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1716px;
  flex-grow: 1;
  color: #cfcfcf;
  font-family: Acme;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.privacyNfaq {
  display: flex;
  gap: 30px;
}

.linkIcon {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  gap: 12px;
}

/* Tablet */
@media (max-width: 1199px) {
  .header {
    padding: 20px 32px;
  }

  .logoLogin {
    max-width: 800px;
  }

  .headContent {
    margin-top: 93px;
    margin-bottom: 30px;
    padding: 40px 251px 0px;
  }

  .headContainer {
    max-height: 716px;
  }

  data-linechanger {
    display: block;
  }

  .link {
    width: 350px;
  }

  .image-box1 {
    padding: 29px 23px 0;
  }

  .image-box1 > img {
    width: 650px;
    height: 383px;
    border-radius: 25px;
  }

  .content2 {
    padding: 50px 251px;
  }

  .frame {
    gap: 51px;
  }

  .ad-text {
    width: 262px;
  }

  .ad-image {
    width: 385px;
    height: 315px;
  }
}

/* mobile */

@media (max-width: 767px) {
  .header {
    padding: 13px 32px;
  }

  .buttonDeco {
    width: 80px;
    padding: 10px 16px;
    font-size: 14px;
  }

  .headContent {
    display: flex;
    margin-top: 62px;
    padding: 28px 32px 0px;
  }

  .headContainer {
    gap: 24px;
    max-height: 481px;
  }

  .headContainer > h2 {
    font-size: 32px;
    line-height: 1.3125;
  }

  .headContainer > h2 > span {
    color: transparent;
    background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .link {
    width: 200px;
  }

  .image-box1 {
    padding: 14px 11px 0;
  }

  .image-box1 > img {
    width: 100%;
    height: auto;
    border-radius: 25px;
  }

  .content2 {
    padding: 40px 32px 36px;
    justify-content: flex-start;
  }

  .frame {
    flex-direction: column;
    gap: 24px;
  }

  .frameR {
    flex-direction: column-reverse;
  }

  .ad-text {
    width: 100%;
  }

  .ad-text h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .ad-image {
    width: 100%;
    height: auto;
  }

  footer {
    margin-top: 40px;
    padding: 32px;
  }

  .under-bar {
    display: grid;
    grid-template: 1fr 1fr / 181px 1fr 116px;
    row-gap: 60px;
  }

  .copyright {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .privacyNfaq {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .linkIcon {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
